body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

svg {
    font-family: 'Roboto', sans-serif;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.page_header {
    position: relative;
    height: 500px;
    background-size: cover;
    background-image: url(/client/img/kehoach/tet2017/banner01.jpg);
}

.page_header .cover_filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #010101;
    opacity: 0.5;
    z-index: 1;
}

.page_header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    heigh: 500px;
    color: #fff;
    z-index: 2;
    padding: 30px;
}

.page_header .title {
    height: 400px;
    padding-top: 150px;
    text-align: center;
}

.page_header .title h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 900;
}

.page_header .title .slogan {
    opacity: 0.9;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}

.container::after {
    display: block;
    content: "";
    clear: both;
}

.heading {
    margin-top: 60px;
    margin-bottom: 10px;
}

.heading::after {
    display: block;
    content: "";
    clear: both;
}

.heading h2 {
    font-size: 1.2rem;
    width: 300px;
    float: left;
}

.heading .submenu {
    float: right;
    text-align: right;
    font-size: 0.9rem;
    color: #222;
}

.heading .submenu ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
}

.heading .submenu ul li {
    display: block;
    float: left;
    margin-left: 20px;
    padding-bottom: 3px;
    padding-top: 1px;
    cursor: pointer;
}

.heading .submenu ul li.active {
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.section_intro::after {
    display: block;
    content: "";
    clear: both;
}

.section_intro .intro {
    width: 60%;
    float: left;
}

.section_intro .intro p {
    padding-right: 15px;
}

.section_intro .note {
    float: left;
    width: 40%;
    background: #f2614b;
    color: #fff;
}

.section_intro .note p {
    padding: 15px;
}

.section_date .period {
    color: #fff;
    text-align: center;
}

.section_date .period::after,
.section_date .period .before_tet::after,
.section_date .period .in_tet::after,
.section_date .period .after_tet::after {
    display: block;
    content: "";
    clear: both;
}

.section_date .period .before_tet {
    float: left;
    background-color: #1f77b4;
    width: 37%;
    border-bottom: 1px solid #fff;
}

.section_date .period .before_tet div {
    float: left;
    width: 7.692307692%
}

.section_date .period .in_tet {
    float: left;
    background-color: #aec7e8;
    width: 26%;
    border-bottom: 1px solid #fff;
}

.section_date .period .in_tet div {
    float: left;
    width: 11.1111111111%
}

.section_date .period .after_tet {
    float: left;
    background-color: #ff7f0e;
    width: 37%;
    border-bottom: 1px solid #fff;
}

.section_date .period .after_tet div {
    float: left;
    width: 7.692307692%
}

.section_date .period .before_tet.title,
.section_date .period .in_tet.title,
.section_date .period .after_tet.title {
    padding-top: 5px;
    padding-bottom: 5px;
}

.section_coachcomposition .overall::after {
    display: block;
    content: "";
    clear: both;
}

.section_coachcomposition .overall .cc_company .title {
    margin-bottom: 1px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

.section_coachcomposition .overall .srt {
    width: 54%;
    float: left;
}

.section_coachcomposition .overall .srt .title {
    background-color: #6baed6;
}

.section_coachcomposition .overall .hrt {
    width: 46%;
    float: left;
}

.section_coachcomposition .overall .hrt .title {
    background-color: #fd8d3c;
}

.section_coachcomposition .overall .cc_company .cc_list::after {
    display: block;
    content: "";
    clear: both;
}

.section_coachcomposition .overall .cc_company .cc_list .cc {
    width: 27px;
    height: 27px;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.section_schedule {
    position: relative;
    overflow-x: auto;
}

.section_schedule .schedule_train {
    position: absolute;
    top: 15px;
    left: 0;
    width: 38px;
}

.section_schedule .schedule_train .train {
    width: 38px;
    height: 28px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.train {
    background-color: #eee;
}

.t_se1, .t_se2 {
    background-color: #1f77b4;
}

.t_se3, .t_se4  {
    background-color: #aec7e8
}

.t_se5, .t_se6  {
    background-color: #ff7f0e
}

.t_se7, .t_se8  {
    background-color: #ffbb78
}

.t_se9, .t_se10 {
    background-color: #2ca02c
}

.t_se31, .t_se32 {
    background-color: #98df8a
}

.t_se13, .t_se14 {
    background-color: #d62728
}

.t_se17, .t_se18 {
    background-color: #ff9896
}

.t_se21, .t_se22 {
    background-color: #c7c7c7
}

.t_se23, .t_se24 {
    background-color: #9467bd
}

.t_se25, .t_se26 {
    background-color: #c5b0d5
}

.t_se29, .t_se30 {
    background-color: #8c564b
}

.t_tn1, .t_tn2 {
    background-color: #c49c94
}

.t_tn3, .t_tn4 {
    background-color: #e377c2
}

.t_tn5, .t_tn6 {
    background-color: #f7b6d2
}

.t_tn7, .t_tn8 {
    background-color: #7f7f7f
}

.t_snt1, .t_snt2 {
    background-color: #bcbd22
}

.t_snt3, .t_snt4, .t_snt6, .t_7502, .t_7501 {
    background-color: #dbdb8d
}

.t_spt1, .t_spt2 {
    background-color: #17becf
}

.t_sqn1, .t_sqn2 {
    background-color: #9edae5
}

.t_se28 {
    background-color: #393b79
}

.t_sn7, .t_sn8, .t_sn3, .t_sn4, .t_sn5, .t_sn6 {
    background-color: #5254a3
}

.t_se11, .t_se12 {
    background-color: #6b6ecf;
}

.t_se15, .t_se16 {
    background-color: #9c9ede;
}

.t_spt3, .t_spt4 {
    background-color: #bd9e39;
}

.t_se19, .t_se20 {
    background-color: #e7ba52;
}

.t_na1, .t_na2, .t_na3, .t_na4, .t_na5, .t_na6, .t_na7, .t_na8,
.t_na10, .t_7304, .t_7303 {
    background-color: #e7cb94;
}

.t_sd5, .t_sd6, .t_7503, .t_sd2, .t_sd3, .t_sd4 {
    background-color: #637939
}

.t_sq2, .t_7407 {
    background-color: #8ca252
}

.t_stk2, .t_stk3, .t_stk4, .t_7405 {
    background-color: #b5cf6b
}

.t_d5, .t_d6, .t_7403, .t_d2, .t_d3, .t_d4, .t_d7, .t_d8 {
    background-color: #cedb9c
}

.t_se35, .t_se36, .t_se37 {
    background-color: #8c6d31
}

.section_cc #ccc {
    width: 100%;
    overflow-x: auto;
}

.section_cc .cc {
    width: 620px;
    margin-bottom: 3px;
}

.section_cc .cc::after {
    display: block;
    content: "";
    clear: both;
}

.section_cc .cc .info {
    width: 38px;
    height: 29px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.section_cc .cc .coaches {
    float: left;
    margin-left: 2px;
    border-left: 1px solid #eee;
}

.section_cc .cc .coaches .coach {
    width: 38px;
    height: 28px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    color: #000;
    font-size: 0.6rem;
    line-height: 0.8rem;
    background-color: #fff;
}

.section_schedule .schedule_day {
    position: absolute;
    top: 0;
    left: 38px;
    width: 1176px;
}

.section_schedule .schedule_day .day {
    width: 28px;
    height: 14px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.section_schedule .schedule_day .day.prepared {
    color: #000;
    background-color: #fff;
}

.section_schedule .schedule_day .day.before_tet {
    background-color: #1f77b4;
}

.section_schedule .schedule_day .day.in_tet {
    background-color: #aec7e8;
}

.section_schedule .schedule_day .day.after_tet {
    background-color: #ff7f0e;
}

.section_schedule .schedule_table {
    width: 1214px;
    padding-left: 38px;
    padding-top: 15px;
}

.section_schedule .train::after {
    display: block;
    content: "";
    clear: both;
}

.section_schedule .train .day_info {
    width: 28px;
    height: 28px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 1px 1px 1px 1px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

.section_schedule .train .day_info.old_cc, .section_schedule .train .day_info.unknow_cc {
    color: #000;
}

.day_info.has_trip {
    background-color: #1f77b4;
}

#bieudo_mophong {
    position: relative;
}

#bieudo_thongtin {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}

#bieudo {
    width: 200px;
}

.station_label {
    text-anchor: end
}

#bieudo_chaytau {
    position: relative;
    overflow-x: auto;
}

#bieudo_chaytau_svg {

}

#bieudo_chaytau_station_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    background: #fff;

}

#bieudo_chaytau_time_svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 1130px;
    z-index: 4;
    background: #fff;
}

#bieudo_chaytau_svg .line_helper line, #bieudo_chaytau_svg .time_helper line {
    fill: none;
    stroke-width: 1px;
    stroke: #ddd;
    shape-rendering: crispEdges;
    stroke-dasharray: 1, 1
}

#bieudo_chaytau_station_svg .station_helper text {
    font-size: 10px;
}

#bieudo_chaytau_svg .train_detail path {
    fill: none;
    stroke-width: 2px;
    stroke: #000;
}

#bieudo_chaytau_svg .train_detail path:hover {
    stroke-width: 3px;
}

#bieudo_chaytau_svg .train_detail circle {
    stroke: #fff;
}

#bieudo_chaytau_svg .train_detail text {
    font-size: 10px;
}

#bieudo .train {
    stroke-width: 0px;
    fill: blue;
}

#biedudo .train_label {
    font-size: 12px;
}

#bieudo_chaytau_svg .se1 path, #bieudo_chaytau_svg .se2 path {
    stroke: #1f77b4;
}

#bieudo_chaytau_svg .se3 path, #bieudo_chaytau_svg .se4 path {
    stroke: #aec7e8
}

#bieudo_chaytau_svg .se5 path, #bieudo_chaytau_svg .se6 path {
    stroke: #ff7f0e
}

#bieudo_chaytau_svg .se7 path, #bieudo_chaytau_svg .se8 path {
    stroke: #ffbb78
}

#bieudo_chaytau_svg .se9 path, #bieudo_chaytau_svg .se10 path {
    stroke: #2ca02c
}

#bieudo_chaytau_svg .se11 path, #bieudo_chaytau_svg .se12 path {
    stroke: #98df8a
}

#bieudo_chaytau_svg .se13 path, #bieudo_chaytau_svg .se14 path {
    stroke: #d62728
}

#bieudo_chaytau_svg .se17 path, #bieudo_chaytau_svg .se18 path {
    stroke: #ff9896
}

#bieudo_chaytau_svg .se21 path, #bieudo_chaytau_svg .se22 path {
    stroke: #c7c7c7
}

#bieudo_chaytau_svg .se23 path, #bieudo_chaytau_svg .se24 path {
    stroke: #9467bd
}

#bieudo_chaytau_svg .se25 path, #bieudo_chaytau_svg .se26 path {
    stroke: #c5b0d5
}

#bieudo_chaytau_svg .se29 path, #bieudo_chaytau_svg .se30 path {
    stroke: #8c564b
}

#bieudo_chaytau_svg .tn1 path, #bieudo_chaytau_svg .tn2 path {
    stroke: #c49c94
}

#bieudo_chaytau_svg .tn3 path, #bieudo_chaytau_svg .tn4 path {
    stroke: #e377c2
}

#bieudo_chaytau_svg .tn5 path, #bieudo_chaytau_svg .tn6 path {
    stroke: #f7b6d2
}

#bieudo_chaytau_svg .tn7 path, #bieudo_chaytau_svg .tn8 path {
    stroke: #7f7f7f
}

#bieudo_chaytau_svg .snt1 path, #bieudo_chaytau_svg .snt2 path {
    stroke: #bcbd22
}

#bieudo_chaytau_svg .snt3 path, #bieudo_chaytau_svg .snt4 path, #bieudo_chaytau_svg .snt6 path {
    stroke: #dbdb8d
}

#bieudo_chaytau_svg .spt1 path, #bieudo_chaytau_svg .spt2 path {
    stroke: #17becf
}

#bieudo_chaytau_svg .sqn1 path, #bieudo_chaytau_svg .sqn2 path {
    stroke: #9edae5
}

#bieudo_chaytau_svg .se28 path {
    stroke: #393b79
}

#bieudo .se1, #bieudo .se2, #bieudo_chaytau_svg .se1 circle, #bieudo_chaytau_svg .se2 circle {
    fill: #1f77b4;
}

#bieudo .se3, #bieudo .se4, #bieudo_chaytau_svg .se3 circle, #bieudo_chaytau_svg .se4 circle {
    fill: #aec7e8
}

#bieudo .se5, #bieudo .se6, #bieudo_chaytau_svg .se5 circle, #bieudo_chaytau_svg .se6 circle {
    fill: #ff7f0e
}

#bieudo .se7, #bieudo .se8, #bieudo_chaytau_svg .se7 circle, #bieudo_chaytau_svg .se8 circle {
    fill: #ffbb78
}

#bieudo .se9, #bieudo .se10, #bieudo_chaytau_svg .se9 circle, #bieudo_chaytau_svg .se10 circle {
    fill: #2ca02c
}

#bieudo .se11, #bieudo .se12, #bieudo_chaytau_svg .se11 circle, #bieudo_chaytau_svg .se12 circle {
    fill: #98df8a
}

#bieudo .se13, #bieudo .se14, #bieudo_chaytau_svg .se13 circle, #bieudo_chaytau_svg .se14 circle {
    fill: #d62728
}

#bieudo .se17, #bieudo .se18, #bieudo_chaytau_svg .se17 circle, #bieudo_chaytau_svg .se18 circle {
    fill: #ff9896
}

#bieudo .se21, #bieudo .se22, #bieudo_chaytau_svg .se21 circle, #bieudo_chaytau_svg .se22 circle {
    fill: #c7c7c7
}

#bieudo .se23, #bieudo .se24, #bieudo_chaytau_svg .se23 circle, #bieudo_chaytau_svg .se24 circle {
    fill: #9467bd
}

#bieudo .se25, #bieudo .se26, #bieudo_chaytau_svg .se25 circle, #bieudo_chaytau_svg .se26 circle {
    fill: #c5b0d5
}

#bieudo .se29, #bieudo .se30, #bieudo_chaytau_svg .se29 circle, #bieudo_chaytau_svg .se30 circle {
    fill: #8c564b
}

#bieudo .tn1, #bieudo .tn2, #bieudo_chaytau_svg .tn1 circle, #bieudo_chaytau_svg .tn2 circle {
    fill: #c49c94
}

#bieudo .tn3, #bieudo .tn4, #bieudo_chaytau_svg .tn3 circle, #bieudo_chaytau_svg .tn4 circle {
    fill: #e377c2
}

#bieudo .tn5, #bieudo .tn6, #bieudo_chaytau_svg .tn5 circle, #bieudo_chaytau_svg .tn6 circle {
    fill: #f7b6d2
}

#bieudo .tn8, #bieudo .tn7, #bieudo_chaytau_svg .tn7 circle, #bieudo_chaytau_svg .tn8 circle {
    fill: #7f7f7f
}

#bieudo .snt2, #bieudo .snt1, #bieudo_chaytau_svg .snt1 circle, #bieudo_chaytau_svg .snt2 circle {
    fill: #bcbd22
}

#bieudo .snt6, #bieudo .snt4, #bieudo .snt3, #bieudo_chaytau_svg .snt3 circle, #bieudo_chaytau_svg .snt4 circle, #bieudo_chaytau_svg .snt6 circle {
    fill: #dbdb8d
}

#bieudo .spt1, #bieudo .spt2, #bieudo_chaytau_svg .spt1 circle, #bieudo_chaytau_svg .spt2 circle {
    fill: #17becf
}

#bieudo .sqn1, #bieudo .sqn2, #bieudo_chaytau_svg .sqn1 circle, #bieudo_chaytau_svg .sqn2 circle {
    fill: #9edae5
}

#bieudo .se28, #bieudo_chaytau_svg .se28 circle {
    fill: #393b79
}

.modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    overflow-y: scroll;
}

.modal.show {
    display: block;
}

.modal_container {
    margin: 20px auto 20px auto;
    width: 500px;
    padding: 20px;
    background: #fff;
}

/*
 Bảng màu minh họa cho tàu
"#1f77b4", "#aec7e8", "#ff7f0e", "#ffbb78", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5",
"#8c564b", "#c49c94", "#e377c2", "#f7b6d2", "#7f7f7f", "#c7c7c7", "#bcbd22", "#dbdb8d", "#17becf", "#9edae5"
"#393b79",
"#5254a3" => sn...
"#6b6ecf"
"#9c9ede"
"#637939", "#8ca252", "#b5cf6b", "#8c6d31" , "#bd9e39"
*/

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
    max-width: 100%;
  }
}
