.modal {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow-y: scroll;
}

.modal.show {
  display: block;
}

.modal .modal_container {
  margin: 20px auto 20px auto;
  padding: 20px;
  background: #fff;
  position: relative;
}

.modal .modal_container h3 {
  font-size: 1.1rem;
  width: 400px;
}

.modal .close_button {
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 36px;
}
