$routeColors: (
  se1: #e41a1c,
  se3: #377eb8,
  se5: #4daf4a,
  se7: #984ea3,
  se9: #ff7f00,
  se11: #ffff33,
  se17: #a65628,
  se19: #f781bf,
  se21: #999999,
  se25: #66c2a5,
  sqn1: #fc8d62,
  snt1: #8da0cb,
  snt3: #e78ac3,
  snt5: #a6d854,
  snt7: #ffd92f,
  spt1: #e5c494,
  spt3: #b3b3b3,
  nh1: #8dd3c7,
  se35: #ffffb3,
  na1: #bebada,
  na3: #fb8072,
  qb1: #80b1d3,
  qb2: #fdb462,
  se13: #b3de69,
  se15: #fccde5,
  se1111: #d9d9d9,
  se1113: #bc80bd,
  se1112: #ccebc5,
  se1117: #ffed6f
);
